## FUCK github workflows I hate it so much

name: Build FishSoftware

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller PyQt6

      - name: Build with PyInstaller
        run: |
          pyinstaller src/specs/FishSoftware.spec

      - name: Archive build (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          cd dist
          tar -czvf FishSoftware-linux.tar.gz FishSoftware

      - name: Archive build (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          powershell Compress-Archive -Path dist\FishSoftware -DestinationPath dist\FishSoftware-windows.zip

      - name: Upload Linux artifact
        if: matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v4
        with:
          name: ubuntu-latest-build
          path: |
            dist/FishSoftware-linux.tar.gz
          if-no-files-found: ignore
      - name: Upload Windows artifact
        if: matrix.os == 'windows-latest'
        uses: actions/upload-artifact@v4
        with:
          name: windows-latest-build
          path: |
            dist/FishSoftware-windows.zip
          if-no-files-found: ignore

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download Linux artifact
        if: matrix.os == 'ubuntu-latest'
        uses: actions/download-artifact@v4
        with:
          name: ubuntu-latest-build
          path: ./artifacts/linux

      - name: Download Windows artifact
        if: matrix.os == 'windows-latest'
        uses: actions/download-artifact@v4
        with:
          name: windows-latest-build
          path: ./artifacts/windows

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            artifacts/linux/FishSoftware-linux.tar.gz
            artifacts/windows/FishSoftware-windows.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
